.col-xs-8.col-xs-offset-2.tm-tasks-table-container.ng-cloak(
    data-ng-show="project.tasks.length")
  table.tm-tasks-table
    tr.tm-task-row(data-ng-repeat="task in project.tasks"
      id="{{project._id}}-#%&-{{$index}}" tm-task-droppable)
      td.tm-task-done
        input(title="Toggle done/undone" type="checkbox"
          data-ng-disabled="vm.currentTask === task && \
          (vm.editingProperty === 'deadline' || \
          vm.editingProperty === 'content')" data-ng-model="task.done"
          data-ng-change="vm.toggleStatus(task)")
      td.tm-task-warning
        i.ng-cloak.fa.fa-bell.tm-task-bell(title="This task is outdated"
          data-ng-show="vm.showBell(task)").tm-task-bell-pendulum
      td.tm-task-caption(colspan="6")
        p.text-justify(data-ng-hide="vm.currentTask === task && \
          (vm.editingProperty === 'deadline' || \
          vm.editingProperty === 'content')") {{task.content}}
        tm-edit-task-deadline-form
        tm-edit-task-content-form
      td
        tm-task-buttons
    tr
      td.tm-task-td &nbsp
      td.tm-task-td &nbsp
      td.tm-task-td(colspan="6") &nbsp
      td.tm-task-td &nbsp
