.modal-header
  h3 {{'auth.createAccount' | translate}}
form(name="userForm" ng-submit="create()" novalidate)
  .modal-body
    div.form-group.has-feedback(
      ng-class="{'has-error': userForm.email.$invalid &&\
      (userForm.email.$touched || userForm.$submitted),\
      'has-success': userForm.email.$touched && !userForm.email.$invalid}")
      label.control-label {{'auth.email' | translate}}
      input.form-control(name="email" ng-model="email"
        ng-model-options="{updateOn: 'blur'}" required tm-email-validator)
      i.glyphicon.glyphicon-repeat.glyphicon-spin.form-control-feedback(
        ng-show="userForm.email.$pending")
      p.help-block(ng-if="userForm.email.$error.required").
        {{'auth.emailRequired' | translate }}
      p.help-block(ng-if="userForm.email.$error.emailValidator").
        {{'auth.validEmailNeeded' | translate}}
    div.form-group(ng-class="{'has-error': userForm.password.$invalid &&\
      (userForm.password.$touched || userForm.$submitted),\
      'has-success': userForm.password.$touched && !userForm.password.$invalid}")
      label.control-label {{'auth.password' | translate}}
      input.form-control(type="password" name="password" ng-model="password"
        ng-model-options="{ updateOn: 'blur' }" required minlength="8")
      p.help-block(ng-if="userForm.password.$error.required").
        {{'auth.passwordRequired' | translate}}
      p.help-block(ng-if="userForm.password.$error.minlength").
        {{'auth.passwordLength' | translate}}
    div.form-group(ng-class="{'has-error':\ userForm.confirmPassword.$invalid &&\
      (userForm.confirmPassword.$touched || userForm.$submitted),\
      'has-success': userForm.confirmPassword.$touched &&\
      !userForm.confirmPassword.$invalid}")
      label.control-label {{'auth.confirmPassword' | translate}}
      input.form-control(type="password" ng-model="confirmPassword"
        ng-model-options="{updateOn: 'blur'}" name="confirmPassword"
        required tm-confirm-password)
      p.help-block(ng-if="userForm.confirmPassword.$error.required").
        {{'auth.confirmPasswordRequired' | translate}}
      p.help-block(ng-if="userForm.confirmPassword.$error.confirmPassword").
        {{'auth.confirmPasswordMatch' | translate}}
    div(ng-show="error")
      p(ng-repeat="err in error.data.errorMessages") {{err}}
  .modal-footer
    button.btn.btn-primary(type="submit") {{'auth.addUser' | translate}}
    button.btn.btn-warning(ng-click="cancel()") {{'auth.cancel' | translate}}
